<!-- <div class="page-header">
  <h3 class="page-title">
    Dashboard
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb"> -->
<!-- <li class="breadcrumb-item"><a href="#">Tables</a></li> -->
<!-- <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
  </nav>
</div> -->
<div class="card">
  <div class="card-body" style="text-align: center;">
        <img src="./assets/images/iconQ4U100.png" alt="">
        <h3>Implement by Yangtalad Hospital. <br>Original by Ministry Of Public Health (MOPH).</h3>
  </div>
</div>
